main {
    padding: 1rem;
}

table th {
    text-align: left;
    background-color: #f4f4f4;
}


table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}


table {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse; 
}

table th, table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
}